<h1>Task List</h1>

<table class="table table-striped table-bordered" style="margin-top:50px;">
  <thead>
    <tr>
      <th>Completed</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% @todos.each do |todo| %>
      <tr>
        <td>
          <% if todo.completed %>
            <span class="glyphicon glyphicon-check"></span>
          <% else %>
            <span class="glyphicon glyphicon-unchecked"></span>
          <% end %>
        </td>
        <td><%= todo.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>
