<h1>Task List</h1>

<table class="table table-striped table-bordered" style="margin-top:50px;">
  <thead>
    <tr>
      <th>Completed</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% @todos.each do |todo| %>
      <tr>
        <td>
          <%= form_tag todo_toggle_path(todo), :method => 'put' do %>
            <%= button_tag :style => 'border:None;background:None;' do %>
              <% if todo.completed %>
                <span class="glyphicon glyphicon-check"></span>
              <% else %>
                <span class="glyphicon glyphicon-unchecked"></span>
              <% end %>
            <% end %>
          <% end %>
        </td>
        <td><%= todo.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>
